p{
    color: rgb(116, 22, 22);
    font-size: large;
    font-weight: 800;
    margin: 2rem auto;
    text-align: center;
}
button{
    color: orange;
    font-weight: 900;
    margin-left: 46vw;
    height: 30px;
    width: 110px;

}

option{
    background-color: aqua;
    color:blue;
}
option.red{
    color:red;

}
select{
    height: 40px;
    width: 120px;
    padding: 1px;
    margin-right: 25px;
    text-align: center;
}
h1{
    color: orange;
    margin: 12px;
}
select{
    margin-left: 20px
}

table{
    background: rgb(100, 74, 24);
    padding: 3rem;
    margin: 3rem auto;
    border-radius: 5px;
}